.exception {
  display: flex;
  align-items: center;
  padding-top: 3%;
  padding-bottom: 5%;
}
.left img {
  width: 80%;
}
.right {
  text-align: left;
}
.right p {
  padding-right: 10%;
  margin: 4% 0 6%;
}
.exception-btn {
  background-color: #12d0d5;
  border: none;
  padding: 7px 15px;
  color: white;
  border: 2px solid transparent;
}
.exception-btn:hover {
  color: #12d0d5;
  background-color: transparent;
  border: 2px solid #12d0d5;
}
@media screen and (max-width: 991px) {
  .left img {
    width: 100%;
  }
  .right p {
    padding-right: 0%;
  }
}
@media screen and (max-width: 767px) {
  .left img {
    width: 70%;
  }
  .right {
    text-align: center;
    margin-top: 3%;
  }
}
